
.recruit-label {
  margin-top: 4px;
  background: #ffe6eb;
  padding: 20px 14px 12px 32px;
}

.recruit-title {
  color: #000000;
  font-size: 14px;
}

.recruit-email {
  color: #000000;
  font-size: 14px;
  margin-top: 6px;
  text-align: center;
}

.recruit-information {
  padding: 0px 14px 30px;
}

.reception-title {
  font-size: 14px;
  color: #971e1a;
  padding-top: 24px;
  text-align: center;
}

.reception-title-en {
  font-size: 12px;
  color: #971e1a;
  text-align: center;
  padding: 5px 0px 18px;
}

.post-information {
  font-size: 12px;
  color: #1b1b1b;
  padding-bottom: 12px;
  letter-spacing: 1px;
}

.post-qualifications{
  font-size: 12px;
  color: #121212;
  padding: 28px 0 12px;
  letter-spacing: 1px;
}






























