<div>
  <!-- 底部 -->
  <div class="footer">
    <div class="footer-contact">
      <div class="footer-title">
        联系我们
      </div>
      <div class="footer-item-text">
        00 86 21 61520350
      </div>
      <div class="footer-item-text">
        vlab_guanfang@vpluslab.com
      </div>
      <div class="footer-item-text">
        上海市杨浦区政立路500号7号楼创智天地3楼A46室
      </div>
    </div>
    <div class="footer-follow">
      <div class="footer-title">
        关注我们
      </div>
      <div class="footer-follow-item">
        <div class="footer-follow-image">
          <img class="weixin"
               src="../../../static/image/join-WeChat.png" alt="">
          <p class="weixin-text">微信</p>
        </div>
        <div class="footer-follow-image">
          <img class="weixin"
               src="../../../static/image/join-Tmall.png" alt="">
          <p class="weixin-text">微信</p>
        </div>
        <div class="footer-follow-image">
          <img class="weixin"
               src="../../../static/image/join-blog.png" alt="">
          <p class="weixin-text">微信</p>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="footer-copyright-text">
          <p >© 2016-2018 上海星销生物科技有限公司 </p>
          <p>版权所有 | 沪ICP备18029351号-2</p>
        </div>
      </div>
    </div>
  </div>
</div>

