
.footer {
  background-color: #e3e3e3;
  padding: 18px 44px 14px;
}

.footer-title {
  font-size: 15px;
  color: #000000;
  font-weight: 700;
  padding-bottom: 12px;
}

.footer-item-text{
  font-size: 12px;
  color: #111111;
  padding-bottom: 12px;
}

.footer-follow{
  margin-top: 20px;
}

.footer-follow-item{
  margin-top: 12px;
}

.footer-follow-image{
  display: inline-block;
  padding-right: 18px;
  text-align: center;
}

.weixin{
  width: 40px;
  height: 40px;
  display: inline-block;
}

.weixin-text{
  font-size: 12px;
  margin-top: 8px;
}

.footer-copyright{
  margin-top: 20px;
}

.footer-copyright-text p{
  color: #686868;
  font-size: 12px;
}
























